<div class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand">SPORTS STORE</a>
</div>

<div *ngIf="orderSent" class="m-a-1 text-xs-center">
    <h2>Thanks!</h2>
    <p>Thanks for placing your order.</p>
    <p>We'll ship your goods as soon as possible.</p>
    <button class="btn btn-primary" routerLink="/store">Return to Store</button>
</div>

<form *ngIf="!orderSent" #form="ngForm" novalidate (ngSubmit)="submitOrder(form)" class="m-a-1">
    <!-- Name -->
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" #name="ngModel" id="name" name="name" [(ngModel)]="order.name" required />
        <span *ngIf="submitted && name.invalid" class="text-danger">Please enter your name</span>
    </div>

    <!-- Address -->
    <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" #address="ngModel" id="address" name="address" [(ngModel)]="order.address" required />
        <span *ngIf="submitted && address.invalid" class="text-danger">Please enter your address</span>
    </div>

    <!-- City -->
    <div class="form-group">
        <label for="city">City</label>
        <input class="form-control" #city="ngModel" id="city" name="city" [(ngModel)]="order.city" required />
        <span *ngIf="submitted && city.invalid" class="text-danger">Please enter your city</span>
    </div>

    <!-- State -->
    <div class="form-group">
        <label for="state">State</label>
        <input class="form-control" #state="ngModel" id="state" name="state" [(ngModel)]="order.state" required />
        <span *ngIf="submitted && state.invalid" class="text-danger">Please enter your state</span>
    </div>

    <!-- Zip/Postal Code -->
    <div class="form-group">
        <label for="zip">Zip/Postal Code</label>
        <input class="form-control" #zip="ngModel" id="zip" name="zip" [(ngModel)]="order.zip" required />
        <span *ngIf="submitted && zip.invalid" class="text-danger">Please enter your zip/postal code</span>
    </div>

    <!-- Country -->
    <div class="form-group">
        <label for="country">Country</label>
        <input class="form-control" #country="ngModel" id="country" name="country" [(ngModel)]="order.country" required />
        <span *ngIf="submitted && country.invalid" class="text-danger">Please enter your country</span>
    </div>

    <div class="text-xs-center">
        <button class="btn btn-secondary" routerLink="/cart">Back</button>
        <button class="btn btn-primary" type="submit">Complete Order</button>
    </div>
</form> 